NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:5000
DATABASE_URL=postgresql://cyber_guard_user:3Oot31RBNikyrjmyFFjzuVFaOQIGEsJe@dpg-d6cun2dm5p6s73f2aj9g-a.oregon-postgres.render.com/cyber_guard
JWT_SECRET=2WbSShh90Im5ls8nRma9BaQ6Xv0hIV14EXu0cSMTOvw=
JWT_EXPIRES_IN=15m
